:root {
  --clr-surface-a0: #101218;
  --clr-surface-a10: #17181f;
  --clr-surface-a20: #1d1e26;
  --clr-surface-a30: #51505a;
  --clr-surface-a40: #6c6b74;
  --clr-surface-a50: #87868e;

  --primary-color: #e46c6c;
  --background-color: var(--clr-surface-a0);
  --background-color-secondary: var(--clr-surface-a10);
  --background-color-tertiary: var(--clr-surface-a20);

  --border-color: rgba(255, 255, 255, 0.1);
  --text-color: #ffffff;
  --font-family: JetBrainsMono;
}

* {
  all: unset;
  background-color: transparent;
  color: #ffffff;
  font-family: JetBrainsMono;
  font-size: 15px;
}

window {
  background-color: transparent;

  border-radius: 15px;
  margin-left: 3px;
  margin-right: 3px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.main-box {
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 15px;
}

label {
  background-color: transparent;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.entry-box {
  padding: 10px;
  background-color: var(--background-color-secondary);
  border-radius: 50px;
}

.selected {
  background-color: var(--background-color-tertiary);
  border: 1px solid #ffffff;
}

popover {
  border-radius: 8px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: var(--background-color-tertiary);
  color: #ffffff !important;
  border: none;
  border-radius: 9px;
}

button.selected {
  background-color: rgba(26, 29, 64, 0.7);
}

button:hover {
  background-color: var(--background-color-tertiary);
  border: 0px solid #ffffff;
  border-radius: 9px;
}

.app-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.app-button.selected {
  outline: none;
  background-color: var(--background-color-tertiary);
}


.revealer-box {
  margin:0;
  padding:0;
  background-color: transparent;
  border: none;
}

.revealer-content {
  background-color: var(--background-color-secondary);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}
